<!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-custom shadow-sm py-3">
    <div class="container">
      <a class="navbar-brand fw-bold fs-4 text-white" href="#">MINI DELÍCIAS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav me-3">
          <li class="nav-item"><a class="nav-link" href="#home">Início</a></li>
          <li class="nav-item"><a class="nav-link" href="#ofertas">Pedido</a></li>
          <li class="nav-item"><a class="nav-link" href="#cardapio">Ofertas</a></li>
          <li class="nav-item"><a class="nav-link" href="#contato">Contato</a></li>
        </ul>
         </div>
    </div>
  </nav>